/*
*
 *
  *   Provisioned app styling
  *   Lasse Lauwerys © 2024
 *
*/

form#applist {
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 2rem; */
    flex-wrap: nowrap;
}

#console form, #metro > article > form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    min-height: 0;
}

table {
    width: 100%;
    height: 100%;
}

tr {
    width: 100%;
} 

table > tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.123);
}

table > tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.123);
}

input {
    pointer-events: auto !important;
}

#stdout > table {
    display: flex;
    flex-direction: column-reverse; /* I decided to flip it around instead of making it scroll because scrolling gives problem on some browsers. To avoid wasting time, I'm thus applying flex to the table. */
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    #stdout > table {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    #stdout > table tr {
        display: table-row;
        width: 100%;
    }

    #stdout > table td {
        display: table-cell;
        width: 100%;
        box-sizing: border-box;
    }
}

#stdin {
    text-align: left;
    flex: 0 0 auto;
}

#stdout {
    flex: 1 1 auto;
    min-height: 0;
    overflow: auto;
}
